<div class="container">
  <div class=question-card>
    <i class="fas fa-question pt-5"></i>
    <p class="mt-4"><%=@question.content%></p>
    <div class="answer-with-like">
      <i class="far fa-thumbs-up up"></i>
      <i class="far fa-thumbs-up down"></i>
    </div>
    <i class="fas fa-arrow-circle-right text-center mt-5"></i>
  </div>
</div>
