<div class="container">
  <div class=question-card>
    <i class="fas fa-question pt-5"></i>
    <p class="mt-5 mb-4 p-3"><%=@question.content%></p>
    <%if @question.type_question == "pouce" %>
      <div class="answer-with-like">
        <i class="far fa-thumbs-up up" data-value=-1></i>
        <i class="far fa-thumbs-up down" data-value=1></i>
      </div>
      <% elsif @question.type_question == "jauge" %>
      <div class="answer-with-jauge d-flex flex-column w-100">
        <input type="range" class='range_css'>
        <div class="d-flex justify-content-between ">
          <div>pas du tout</div>
          <div>totalement</div>
        </div>
      </div>
      <div class="jauge_number"></div>
      <% elsif @question.type_question == "smileys" %>
      <div class="answer-with-smileys pt-3">
        <i class="far fa-sad-cry" data-value=0 ></i>
        <i class="far fa-frown-open" data-value=1 ></i>
        <i class="far fa-meh" data-value=2 ></i>
        <i class="far fa-grin" data-value=3 ></i>
        <i class="far fa-laugh-wink" data-value=4></i>
      </div>
    <%end %>



    <%= simple_form_for([@question,@answer]) do |f| %>
      <%= f.input :value, label:false, wrapper_html: {class: "d-none"} %>
      <div class="mt-5 d-flex justify-content-center">
        <%= f.button :button do %>
          <i class="fas fa-arrow-circle-right text-center"></i>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
