<%= simple_form_for(article) do |f| %>
  <%= f.input :photo, as: :file %>
  <div class="row justify-content-center mt-5 mb-2">
      <div class="col-sm-8 text-center">
        <h3>Choose your favorite activities</h3>
        <div id = "tags" class="d-flex flex-wrap justify-content-center pt-4">
          <div class="clickable">
            <i class="fas fa-football-ball"></i>
            <small>Sport</small>
          </div>
          <div class="clickable">
            <i class="fas fa-utensils"></i>
            <small>Cours de cuisine</small>
          </div>
          <div class="clickable">
            <i class="fas fa-paint-brush"></i>
            <small>Exposition</small>
          </div>
          <div class="clickable">
            <i class="fas fa-music"></i>
            <small>Concert</small>
          </div>
          <div class="clickable">
            <i class="fas fa-tree"></i>
            <small>Promenade</small>
          </div>
          <div class="clickable">
            <i class="fas fa-coffee"></i>
            <small>Café</small>
          </div>
          <div class="clickable">
            <i class="fas fa-chess-knight"></i>
            <small>Bar à jeux</small>
          </div>
          <div class="clickable">
            <i class="fas fa-search"></i>
            <small>escape game</small>
          </div>
        </div>
      </div>
      <%= t.input :tag_list, wrapper_html: {class: "d-none"}, input_html: {id:"tag",value: t.object.tag_list.join(",")} %>
      <%= t.button :submit, class: "btn btn-warning text-center p-3" %>
    </div>
<% end %>
