<!-- Cloudinary - Ajouter le crop avec déterction du visage -->
<!-- Afficher les tags d'activités -->
<div class="container">
  <p>  <%= @profile.tag_list%> </p>
  <%= cl_image_tag @profile.photo.key %>
</div>


