<div class="mbti-selection">
  <div class="mbti-letters" data-value="9">ISTJ</div>
  <div class="mbti-letters" data-value="13">ISTP</div>
  <div class="mbti-letters" data-value="14">ISFP</div>
  <div class="mbti-letters" data-value="10">ISFJ</div>
  <div class="mbti-letters" data-value="1">INTJ</div>
  <div class="mbti-letters" data-value="6">INFP</div>
  <div class="mbti-letters" data-value="2">INTP</div>
  <div class="mbti-letters" data-value="5">INFJ</div>
  <div class="mbti-letters" data-value="3">ENTJ</div>
  <div class="mbti-letters" data-value="4">ENTP</div>
  <div class="mbti-letters" data-value="8">ENFP</div>
  <div class="mbti-letters" data-value="7">ENFJ</div>
  <div class="mbti-letters" data-value="11">ESTJ</div>
  <div class="mbti-letters" data-value="15">ESTP</div>
  <div class="mbti-letters" data-value="12">ESFJ</div>
  <div class="mbti-letters" data-value="16">ESFP</div>
</div>

