<div class="card-matches">
    <h2 class = "emoji-m"> <%= match.smiley %></h2>
    <div class ="profile-match">
      <h4 class="first-name-matches"> <%= match.name %> </h4>
      <h4 class="age-matches"> <%= match.age %></h4>
      <h4 class="description-matches"> <%= match.description %></h4>
    </div>
    <h4 class="percentage-matches">87%</h4>
</div>
