<div class="footer">
    <a href="#" class="footbar-btn active"><i class="far fa-user"></i></i></a>
    <a href="#" class="footbar-btn"><i class="fas fa-home"></i></a>
    <a href="#" class="footbar-btn"><i class="fas fa-map-marker-alt"></i></a>
    <a href="#" class="footbar-btn"><i class="far fa-comment"></i></a>
</div>
