<div class="footer">
    <%= link_to profile_path, class:"footbar-btn" do %>
      <i class="far fa-user"></i>
    <% end %>
    <%= link_to matches_path, class:"footbar-btn" do %>
      <i class="fas fa-home"></i>
    <% end %>
    <%= link_to maps_path, class:"footbar-btn" do %>
      <i class="fas fa-map-marker-alt"></i>
    <% end %>
    <a href="#" class="footbar-btn"><i class="far fa-comment"></i></a>
</div>
