<div class="footer">
    <%= link_to profile_path, class:"footbar-btn #{"active" if params[:controller] == 'profiles'}" do %>
      <i class="far fa-user"></i>
    <% end %>
    <%= link_to matches_path, class:"footbar-btn #{"active" if params[:controller] == 'matches'}" do %>
      <i class="fas fa-home"></i>
    <% end %>
    <%= link_to maps_path, class:"footbar-btn #{"active" if params[:controller] == 'maps'}" do %>
      <i class="fas fa-map-marker-alt"></i>
    <% end %>
    <%= link_to messages_index_path, class:"footbar-btn #{"active" if params[:controller] == 'messages'}" do %>
      <i class="far fa-comment">
    <% end %>
</div>
