<div class="container">
  <div class="display_logo">
    <%= cl_image_tag('llpfrsdiwc27yqhw6j0v',class:'logo', crop: :thumb) %>
  </div>
  <h5 class="accroche text-center mt-4">Rencontre des gens <br> que tu vas <strong>aimer</strong></h5>
</div>
