<div class="container m-0 p-0">
  <div class="top-bar">
    <i class="fas fa-cog"></i>
    <i class="fas fa-sync-alt"></i>
  </div>
  <div class="cards-matches">
    <% @matches.each do |match| %>
      <%= link_to match_path(match) do %>
       <%= render partial: "shared/card", locals:{match: match} %>
      <% end %>
    <%end %>
  </div>
</div>

