<div class="container">
  <div class="top-bar">
    <i class="fas fa-cog"></i>
    <i class="fas fa-sync-alt"></i>
  </div>
  <div class="cards-matches m-4">
      <%= render 'shared/card' %>
      <%= render 'shared/card' %>
      <%= render 'shared/card' %>
      <%= render 'shared/card' %>
  </div>
</div>
