.selection:empty {
    border: none;
}

.selection {
  margin: 10px;
  padding: 5px;
  background-color: #F4F4F4;
  border: 1px solid rgba(251, 86, 7, 0.5);
  border-radius: 2px;
}

.selection img {
  width:120px
}

.selection div {
  margin-left: 5px
}


#search_movie ul {
  margin:0;
}
