:root {
  --percentage-match: 87%;
  --color-match: rgba(255,14,72, 0.2);
}

.card-matches{
  text-align: center;
  background-color: rgba(255,14,72, 0.2);
  padding:0;
  border-radius:8px;
  width:40vw;
  margin: 0 auto;
  position:relative;
  height: 30vh;
  border-bottom: 0 none;
  text-decoration:none;
  color:black;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
  background: -webkit-gradient(linear, bottom left, right top, color-stop(var(--percentage-match),var(--color-match)), color-stop(var(--percentage-match),white));
  background: linear-gradient(to top, var(--color-match) var(--percentage-match), white var(--percentage-match));
}

.first-name-matches{;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  align-items: center;
  text-align: center;
}

.age-matches{
  font-weight: lighter;
  font-size: 13px;
}

.description-matches{
  font-weight: lighter;
  font-size:14px;
}

.percentage-matches{
  font-size:14px;
  font-weight:600;
}

.distance-matches{
  font-size:10px;
  font-weight:lighter;
  position:absolute;
  right:10px;
  bottom:10px;
}

.cards-matches{
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em 0;
  margin-top:10vh;
}
.age-matches{
  font-size:16px;
}

a:hover  {
  text-decoration:none;
}

