
.card-description-profile {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(255,14,72,0.2);
  margin: -56px 0 0 0 ;
}

.description-header {
  font-style: normal;
  display: flex;
  justify-content: space-around;
  h5 {
    color: #FF0E48;
    }
  h6 {
    font-weight: 300;
  }

}

.mbti-display{
  display: flex;
  justify-content: center;
}

.mbti-as-btn {
  color: #FF0E48;
  border: 1px solid #FF0E48;
  padding: 8px 18px;
  border-radius: 50px;
  }


hr {
  border-color: #FF0E48;
  opacity: 0.5;
  margin: 0;
}

.user-description p{
  text-align: center;
  margin: 5px 15px;
  font-weight: 350;
}

.pref {
  .fas{
    color: #FF0E48;
    font-size: 16px;
  }
  display: flex;
  justify-content: flex-start;
}

.user-preferences p {
  font-weight: 300;
}

.btn-modifier {
  margin: -18px 0 0 0;
}
