
.footer {
  background: #F4F4F4;
  width:100%;
  display: flex;
  align-items: center;
  height: 64px;
  padding: 0px;
  color: #FF0E48;
  bottom:0;
  position:fixed;
  justify-content:space-around;
  border-top: 1px solid rgba(255,14,72,0.5);
}

.body-content{
  margin-bottom:64px;
}

.footbar-btn{
  color: #FF0E48;
  opacity: 0.50;
  text-decoration: none;
  font-size: 24px;

  &:hover{
    opacity:1;
    color: #FF0E48;
  }

  &.active {
    color: #FF0E48;
    opacity:1;
  }
}

