.clickable {
  width: 107px;
  height: 107px;
  border: 2px solid #FF0E48;
  color: #A0A0A0;
  margin-right: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align:center;
  cursor: pointer;
  border-radius: 5px;
  color: #FF0E48;

  .fas {
    color: #FF0E48;
    font-size: 38px;
  }
}


.clickable:hover i {
  background-color: #FF0E48;
  color: white;
    .fas {
      color: white;
      font-size: 38px;
  }
}
.clickable.active {
  background-color: #FF0E48;
  color: white;
    .fas {
      color: white;
      font-size: 38px;
  }
}
.clickable.active i {
  background-color: #FF0E48;
  color: white;
    .fas {
      color: white;
      font-size: 38px;
  }
}

.clickable i {
  font-size: 24px;
  margin-bottom: 10px;
    .fas {
      color: white;
      font-size: 38px;
  }
}

.clickable:hover {
  background-color: #FF0E48;
  color: white;
}
.index i {
  font-size: 16px;
  margin-bottom: 5px;
}

.index small {
  font-size: 12px;
}
