.clickable {
  width: 120px;
  height: 120px;
  border: 1px solid #FF0E48;
  color: #A0A0A0;
  margin-right: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align:center;
  cursor: pointer;
  border-radius: 5px;
}


.clickable:hover i {
  color: #FF0E48;
}
.clickable.active {
  color: inherit;
  border-color: inherit;
}
.clickable.active i {
  color: #FF0E48;
}

.clickable i {
  font-size: 24px;
  margin-bottom: 10px;
}

.index i {
  font-size: 16px;
  margin-bottom: 5px;
}

.index small {
  font-size: 12px;
}
