#profile-picture {
width: 250px;
height: 250px;
border-radius: 50%;
border: white solid 4px;
display: flex;
justify-content: center;
object-fit: cover;
}

.fa-user-edit {
  z-index: 1;
  font-size: 100px;
  color: #FF0E48;
  text-align: center;
  margin: 16px;
}
