.question-card {
  width: 80vw;
  height: 65vh;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  margin: 25% auto;
  background-color: white;
}

.question-card .fa-question{
    color: #FF0E48;
    font-size: 100px;
    opacity: 0.6;
    display: flex;
    justify-content: center;
  }

.question-card p {
    text-align: center;
  }

.question-card .answer-with-like{
  display: flex;
  justify-content: center;
}

.question-card .fa-thumbs-up {
  font-size: 50px;
  color: #FF0E48;
  opacity: 0.6;
  padding: 16px;
}

.fa-thumbs-up:hover {
    opacity: 1;
  }

.question-card .down {
    transform: rotate(180deg);
  }

.question-card .fa-arrow-circle-right{
  font-size: 25px;
  color: #FF0E48;
  display: flex;
  justify-content: center;
}

.range_css{
  -webkit-appearance: none;
  width:300px;
  height:1rem;
  background:linear-gradient(to bottom,#FB5607 10%,#f96007);
  border-radius:1.5rem;
  display: flex;
  justify-content: center;
  margin: auto ;
}



.card-edit{
  height: 620px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  margin: 25px 10px;
  background-color: white;
}

.card-edit h2{
  margin-top: 15px;
  text-align: center;
}

.question-links {
  display:flex;
  justify-content: space-evenly;

  a {
    text-align:center;
    border-radius: 5px;
    padding: 15px;
    width: 120px
  }


  #precedent{
    border: 2px solid #FF0E48;
    background-color: white;
    color: #FF0E48;
    text-decoration: none
  }

  #suivant {
    background-color: #FF0E48;
    color: white;
    text-decoration: none
  }
}

.final a {
  text-decoration: underline rgba(255,14,72, 0.5);
  color: rgba(255,14,72, 0.5);
}
